<div class="dropdown">
    <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Refinement
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu scollmenu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation" class="dropdown-header">Heating</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric, baseboard or cable</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant panel</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric wall heaters (incl FWA)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Forced-air furnace</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hot water, baseboard/convector</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant floor or ceiling</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Space heaters, with fan</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Steam with boiler</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...without boiler</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wall or floor furnaces</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Cooling</li>                                                             
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Central refrigeration with ducts</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with zone controls</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Package  refrig. (short ductwork)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Central evaporative (with ducts)</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Ventilation</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Smoke Removal System</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Heating & Cooling</li>  
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Package A.C. (short ductwork)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Warm and cool air (zoned)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hot and chilled water (zoned)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Heat-pump system</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...add for grnd. loop heat source</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Individual thru-wall heat pumps</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Elevators</li>  
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Passenger, 2- to 3-story</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4-story and over</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">....add cost per stop</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Freight, base cost, 2- to 3-story</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4-story and over</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...add, cost per stop, manual doors</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with power doors</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Escalators, each stairway</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vertical wheelchair lifts, each</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Sprinklers</li>  
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wet System</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dry System</a></li>
    </ul>
</div>