<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PropCalc</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/propcalc.css') }}">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/propcalc.css" rel="stylesheet">


    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.10.2.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">PropCalc</a>
                </li>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#"><i class="glyphicon glyphicon-link"></i> Link Databases</a>
                </li>
                <li><a href={{ url_for('main') }}>My Properties</a>
                </li>
                <li><a href={{ url_for('sales_approach_2', subject=subject) }}><i class="glyphicon glyphicon-th"></i> Sales Approach</a>
                </li>
                <li class="active"><a href={{ url_for('cost_approach', subject=subject) }}><i class="glyphicon glyphicon-th-large"></i> Cost Approach</a>
                </li>
                <li><a href={{ url_for('income_approach', subject=subject) }}><i class="glyphicon glyphicon-th-list"></i> Income Approach</a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Cost Approach
                </h1>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <div class="bs-example">

                        <div class="col-md-3">

                        </div>
                    
                        <div class="col-md-6">
                            <div class='col-md-8'>
                                <table class="table income incometable table-condensed" style="border-collapse:collapse;">
                                    <tr>
                                        <td>
                                            Building Area
                                        </td>
                                        <td>
                                            120,644.00
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Base Cost
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">$/SF</span>
                                                        <input type="text" class="incomeinput form-control" value="2.85">
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                            
                                        </td>
                                    </tr>                                    
                                    <!-- <tr data-toggle="collapse" data-target=".demo4" class="accordion-toggle"> -->
                                    <tr>
                                        <td>
                                            Total Refinements
                                        </td>
                                        <td>
                                            $ 0.00 SF
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            <div>
                                                <div class="dropdown">
                                                    <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                        Refinement
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu scollmenu" role="menu" aria-labelledby="dropdownMenu1">
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li> 
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="incomeinputside">
                                            <div>
                                                <form class="incomebox form-inline" role="form">
                                                    <div class="incomediv form-group">
                                                        <div class="input-group input-group-sm">
                                                            <span class="input-group-addon">$/SF</span>
                                                            <input type="text" class="incomeinput form-control" value="0.00">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="incomeinputside">
                                            <div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            <div>
                                                <div class="dropdown">
                                                    <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                        Refinement
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu scollmenu" role="menu" aria-labelledby="dropdownMenu1">
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li> 
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="incomeinputside">
                                            <div>
                                                <form class="incomebox form-inline" role="form">
                                                    <div class="incomediv form-group">
                                                        <div class="input-group input-group-sm">
                                                            <span class="input-group-addon">$/SF</span>
                                                            <input type="text" class="incomeinput form-control" value="0.00">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="incomeinputside">
                                            <div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside hiddenRow accordian-body collapse demo4">
                                            <div class="hiddenDiv accordian-body collapse demo4">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                        Refinement
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu scollmenu" role="menu" aria-labelledby="dropdownMenu1">
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li> 
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation" class="dropdown-header">Ventilation</li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4">
                                                <form class="incomebox form-inline" role="form">
                                                    <div class="incomediv form-group">
                                                        <div class="input-group input-group-sm">
                                                            <span class="input-group-addon">$/SF</span>
                                                            <input type="text" class="incomeinput form-control" value="0.00">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="incomeinputside source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4 source">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button data-toggle="collapse" data-target=".demo4" type="button" class="addline btn btn-default accordion-toggle">Add Line</button>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Base + Refinements
                                        </td>
                                        <td>
                                            $ 47.50
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target=".demo6" class="accordion-toggle">
                                        <td class="incomeinputside">
                                            Total Size Multiplier
                                        </td>
                                        <td>
                                            1.011
                                        </td>
                                        <td class="incomeinputside source">
                                            <a href="#">Grubb & Ellis  - 2012 - Q1</a>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="hiddenRow accordian-body collapse demo6">
                                            <div class="hiddenDiv">
                                                Stories: 1
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6">
                                                1.00
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6 source">
                                                
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="hiddenRow accordian-body collapse demo6">
                                            <div class="hiddenDiv">
                                                Story Height: 19'
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6">
                                                1.031
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6 source">
                                                
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="hiddenRow accordian-body collapse demo6">
                                            <div class="hiddenDiv">
                                                Area/Perimeter: xxxx
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6">
                                                .984
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6 source">
                                                
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Cost Multiplier
                                        </td>
                                        <td>
                                            1.08
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target=".demo5" class="accordion-toggle">
                                        <td class="incomeinputside">
                                            Local Multiplier
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        
                                                        <input type="text" class="incomeinput form-control" value="8.03">
                                                        <span class="input-group-addon"> </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="income hiddenRow accordian-body collapse demo5">
                                            <div class="hiddenDiv">
                                                Market
                                            </div>
                                        </th>
                                        <th class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                Vacancy Rate
                                            </div>
                                        </th>
                                        <th class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                Distance
                                            </div>
                                        </th>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo5">
                                            <div class="hiddenDiv">
                                                Alliance
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                3.50 %
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5 source">
                                                0.12 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="hiddenRow accordian-body collapse demo5">
                                            <div class="hiddenDiv">
                                                DFW Airport
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                6.60 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5 source">
                                                1.10 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="hiddenRow accordian-body collapse demo5">
                                            <div class="hiddenDiv">
                                                East Dallas
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                6.80 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5 source">
                                                2.04 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Final 
                                        </td>
                                        <td>
                                            $ (27,610.00)
                                        </td>
                                        <td class="source">
                                            <a href="#"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            $ 316,225.00
                                        </td>
                                        <td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Expense Amount
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">                                                        
                                                        <input type="text" class="incomeinput form-control" value="5.00">
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Less Expenses
                                        </td>
                                        <td>
                                            $ (15,811.25)
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Other Expenses
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">$</span>                                                        
                                                        <input type="text" class="incomeinput form-control" value="0.00">                                                        
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            $ 300,413.75
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Value
                                        </td>
                                        <td>
                                            $ 4172,418.70
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Value Per Sqft
                                        </td>
                                        <td>
                                            $ 34.58
                                        </td>
                                        <td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>




                </div>
            </div>
        </div>

    </div>

    <!-- JavaScript -->
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>

</html>
