<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PropCalc</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/propcalc.css') }}">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/propcalc.css" rel="stylesheet">


    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.10.2.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">PropCalc</a>
                </li>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#"><i class="glyphicon glyphicon-link"></i> Link Databases</a>
                </li>
                <li><a href={{ url_for('main') }}>My Properties</a>
                </li>
                <li><a href={{ url_for('sales_approach_2', subject=subject) }}><i class="glyphicon glyphicon-th"></i> Sales Approach</a>
                </li>
                <li class="active"><a href={{ url_for('cost_approach', subject=subject) }}><i class="glyphicon glyphicon-th-large"></i> Cost Approach</a>
                </li>
                <li><a href={{ url_for('income_approach', subject=subject) }}><i class="glyphicon glyphicon-th-list"></i> Income Approach</a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Cost Approach
                </h1>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <div class="bs-example">

                        <div class="col-md-12">
                            <div class="col-md-1"></div>

                            <div class="col-md-8">
                                <table class="costtotals">
                                    <tr>
                                        <td>
                                            <b>Replacement Cost:</b> $ 5,366,712.30
                                        </td>
                                        <td>
                                            <b>Depreciation Cost:</b> $ 1,932,016.43
                                        </td>
                                        <td>
                                            <b>Insurable Cost:</b> $ 2,010,898.80
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-2"></div>
                        </div>





                        <div class="col-md-3">

                        </div>
                    
                        <div class="col-md-6">
                            <div class='col-md-8'>
                                <table class="table income incometable table-condensed" style="border-collapse:collapse;">
                                    <tr>
                                        <td class="incomeinputside">
                                            Base Cost
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">$/SF</span>
                                                        <input type="text" class="incomeinput form-control" value="43.18">
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                            
                                        </td>
                                    </tr>                                    
                                    <!-- <tr data-toggle="collapse" data-target=".demo4" class="accordion-toggle"> -->
                                    <tbody class="well">
                                        <tr data-toggle="collapse" data-target=".demo8" class="accordion-toggle">
                                            <td>
                                                Total Refinements
                                            </td>
                                            <td>
                                                $ 0.00 SF
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo8">
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                            Refinement
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu scollmenu" role="menu" aria-labelledby="dropdownMenu1">
                                                            <li role="presentation" class="dropdown-header">Heating</li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric, baseboard or cable</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant panel</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric wall heaters (incl FWA)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Forced-air furnace</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hot water, baseboard/convector</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant floor or ceiling</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Space heaters, with fan</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Steam with boiler</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...without boiler</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wall or floor furnaces</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Cooling</li>                                                             
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Central refrigeration with ducts</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with zone controls</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Package  refrig. (short ductwork)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Central evaporative (with ducts)</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Ventilation</li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Smoke Removal System</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Heating & Cooling</li>  
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Package A.C. (short ductwork)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Warm and cool air (zoned)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hot and chilled water (zoned)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Heat-pump system</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...add for grnd. loop heat source</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Individual thru-wall heat pumps</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Elevators</li>  
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Passenger, 2- to 3-story</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4-story and over</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">....add cost per stop</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Freight, base cost, 2- to 3-story</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4-story and over</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...add, cost per stop, manual doors</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with power doors</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Escalators, each stairway</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vertical wheelchair lifts, each</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Sprinklers</li>  
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wet System</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dry System</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo8">
                                                    <form class="incomebox form-inline" role="form">
                                                        <div class="incomediv form-group">
                                                            <div class="input-group input-group-sm">
                                                                <input type="text" class="incomeinput form-control" value="0.00">
                                                                <span class="input-group-addon">SF</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="incomeinputside source hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo8">
                                                    $ 0.00
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo8">
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                            Refinement
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu scollmenu" role="menu" aria-labelledby="dropdownMenu1">
                                                            <li role="presentation" class="dropdown-header">Heating</li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric, baseboard or cable</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant panel</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric wall heaters (incl FWA)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Forced-air furnace</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hot water, baseboard/convector</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant floor or ceiling</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Space heaters, with fan</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Steam with boiler</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...without boiler</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wall or floor furnaces</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Cooling</li>                                                             
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Central refrigeration with ducts</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with zone controls</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Package  refrig. (short ductwork)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Central evaporative (with ducts)</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Ventilation</li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Smoke Removal System</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Heating & Cooling</li>  
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Package A.C. (short ductwork)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Warm and cool air (zoned)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hot and chilled water (zoned)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Heat-pump system</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...add for grnd. loop heat source</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Individual thru-wall heat pumps</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Elevators</li>  
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Passenger, 2- to 3-story</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4-story and over</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">....add cost per stop</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Freight, base cost, 2- to 3-story</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4-story and over</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...add, cost per stop, manual doors</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with power doors</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Escalators, each stairway</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vertical wheelchair lifts, each</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Sprinklers</li>  
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wet System</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dry System</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo8">
                                                    <form class="incomebox form-inline" role="form">
                                                        <div class="incomediv form-group">
                                                            <div class="input-group input-group-sm">
                                                                <input type="text" class="incomeinput form-control" value="0.00">
                                                                <span class="input-group-addon">SF</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="incomeinputside source hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo8">
                                                    $ 0.00
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo4">
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                            Refinement
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu scollmenu" role="menu" aria-labelledby="dropdownMenu1">
                                                            <li role="presentation" class="dropdown-header">Heating</li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric, baseboard or cable</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant panel</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric wall heaters (incl FWA)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Forced-air furnace</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hot water, baseboard/convector</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant floor or ceiling</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Space heaters, with fan</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with radiant</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Steam with boiler</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...without boiler</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wall or floor furnaces</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Cooling</li>                                                             
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Central refrigeration with ducts</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with zone controls</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Package  refrig. (short ductwork)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Central evaporative (with ducts)</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Ventilation</li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Smoke Removal System</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Heating & Cooling</li>  
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Package A.C. (short ductwork)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Warm and cool air (zoned)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hot and chilled water (zoned)</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Heat-pump system</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...add for grnd. loop heat source</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Individual thru-wall heat pumps</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Elevators</li>  
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Passenger, 2- to 3-story</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4-story and over</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">....add cost per stop</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Freight, base cost, 2- to 3-story</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4-story and over</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...add, cost per stop, manual doors</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">...with power doors</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Escalators, each stairway</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vertical wheelchair lifts, each</a></li>
                                                            <li role="presentation" class="divider"></li>
                                                            <li role="presentation" class="dropdown-header">Sprinklers</li>  
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wet System</a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dry System</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="income hiddenRow hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo4">
                                                    <form class="incomebox form-inline" role="form">
                                                        <div class="incomediv form-group">
                                                            <div class="input-group input-group-sm">
                                                                <input type="text" class="incomeinput form-control" value="0.00">
                                                                <span class="input-group-addon">SF</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="incomeinputside source hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo4 source">
                                                    $ 0.00
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hiddenRow"></td>
                                                <div class="hiddenDiv accordian-body collapse demo8"></div>
                                            <td class="hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo8">
                                                    <button data-toggle="collapse" data-target=".demo4" type="button" class="addline btn btn-default accordion-toggle">Add Line</button>
                                                </div>
                                            </td>
                                            <td class="hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo8"></div>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tr>
                                        <td>
                                            + Refinements
                                        </td>
                                        <td>
                                            $ 43.18
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tbody class="well">
                                        <tr data-toggle="collapse" data-target=".demo6" class="accordion-toggle">
                                            <td class="incomeinputside">
                                                Total Size Multiplier
                                            </td>
                                            <td>
                                                1.121
                                            </td>
                                            <td class="incomeinputside source">
                                                
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td class="hiddenRow incomeinputside">
                                                <div class="hiddenDiv accordian-body collapse demo6">
                                                    Stories: 1
                                                </div>
                                            </td>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo6">
                                                    <form class="incomebox form-inline" role="form">
                                                        <div class="incomediv form-group">
                                                            <div class="input-group input-group-sm">                                                                
                                                                <input type="text" class="incomeinput form-control" value="1.000">
                                                                <span class="input-group-addon"></span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="source incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo6 source">
                                                    <a href="#">Full Table</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td class="hiddenRow incomeinputside">
                                                <div class="hiddenDiv accordian-body collapse demo6">
                                                    Story Height: 26'
                                                </div>
                                            </td>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo6">
                                                    <form class="incomebox form-inline" role="form">
                                                        <div class="incomediv form-group">
                                                            <div class="input-group input-group-sm">                                                                
                                                                <input type="text" class="incomeinput form-control" value="1.281">
                                                                <span class="input-group-addon"></span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="source incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo6 source">
                                                    <a href="#">Full Table</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td class="hiddenRow incomeinputside">
                                                <div class="hiddenDiv accordian-body collapse demo6">
                                                    Perimeter: 1484'
                                                </div>
                                            </td>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo6">
                                                    <form class="incomebox form-inline" role="form">
                                                        <div class="incomediv form-group">
                                                            <div class="input-group input-group-sm">                                                                
                                                                <input type="text" class="incomeinput form-control" value="0.875">
                                                                <span class="input-group-addon"></span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="source incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo6 source">
                                                    <a href="#">Full Table</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tr>
                                        <td>
                                            x Size Multipliers
                                        </td>
                                        <td>
                                            $ 47.50
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Cost Multiplier
                                        </td>
                                        <td>
                                            1.01
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tbody class="well">
                                        <tr data-toggle="collapse" data-target=".demo5" class="accordion-toggle">
                                            <td class="incomeinputside">
                                                Local Multiplier
                                            </td>
                                            <td>
                                                0.91
                                            </td>
                                            <td class="source">
                                                <a href="#">Full Table</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="income hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5">
                                                    Market
                                                </div>
                                            </th>
                                            <th class="income hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5">
                                                    Multiplier
                                                </div>
                                            </th>
                                            <th class="source hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5">
                                                    Distance
                                                </div>
                                            </th>
                                        </tr>
                                        <tr class="success">
                                            <td class="hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5">
                                                    Dallas, Texas
                                                </div>
                                            </td>
                                            <td class="income hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5">
                                                    0.91
                                                </div>
                                            </td>
                                            <td class="income hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5 source">
                                                    12.62 miles
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td class="hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5">
                                                    Fort Worth, Texas
                                                </div>
                                            </td>
                                            <td class="income hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5">
                                                    0.91
                                                </div>
                                            </td>
                                            <td class="source hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5 source">
                                                    26.83 miles
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td class="hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5">
                                                    Waco, Texas
                                                </div>
                                            </td>
                                            <td class="income hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5">
                                                    0.85
                                                </div>
                                            </td>
                                            <td class="source hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo5 source">
                                                    95.52 miles
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tr>
                                        <td>
                                            Final $/SF
                                        </td>
                                        <td>
                                            $ 44.48
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Building Area
                                        </td>
                                        <td>
                                            120,644.00
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Replacement Cost
                                        </td>
                                        <td>
                                            $ 5,366,712.30
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Depreciation %
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="incomeinput form-control" value="64.00">
                                                        <span class="input-group-addon">%</span>                                                        
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="source">
                                            <a href="#">Full Table</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Depreciation Amount
                                        </td>
                                        <td>
                                            $ 3,434,695.87
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Depreciation Cost
                                        </td>
                                        <td>
                                            $ 1,932,016.43
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Demolition %
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="incomeinput form-control" value="8.88">
                                                        <span class="input-group-addon">%</span>                                                        
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                            <a href="#">Full Table</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Demolition Amount
                                        </td>
                                        <td>
                                            $ 171,619.15
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tbody class="well">
                                        <tr data-toggle="collapse" data-target=".demo7" class="accordion-toggle">
                                            <td class="incomeinputside">
                                                Total Exclusion %
                                            </td>
                                            <td>
                                                4.80 %
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hiddenRow incomeinputside">
                                                <div class="hiddenDiv accordian-body collapse demo7">
                                                    Basement Excavation %
                                                </div>
                                            </td>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo7">
                                                    <form class="incomebox form-inline" role="form">
                                                        <div class="incomediv form-group">
                                                            <div class="input-group input-group-sm">                                                                
                                                                <input type="text" class="incomeinput form-control" value="0.00">
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="hiddenRow incomeinputside">
                                                <div class="hiddenDiv accordian-body collapse demo7">
                                                    <a href="#">Full Table</a>                                            
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hiddenRow incomeinputside">
                                                <div class="hiddenDiv accordian-body collapse demo7">
                                                    Foundation Underground %
                                                </div>
                                            </td>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo7">
                                                    <form class="incomebox form-inline" role="form">
                                                        <div class="incomediv form-group">
                                                            <div class="input-group input-group-sm">                                                                
                                                                <input type="text" class="incomeinput form-control" value="4.80">
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="hiddenRow incomeinputside">
                                                <div class="hiddenDiv accordian-body collapse demo7">
                                                    <a href="#">Full Table</a>                                            
                                                </div>
                                            </td>
                                        </tr>                                    
                                        <tr>
                                            <td class="hiddenRow incomeinputside">
                                                <div class="hiddenDiv accordian-body collapse demo7">
                                                    Architect's Fees %
                                                </div>
                                            </td>
                                            <td class="incomeinputside hiddenRow">
                                                <div class="hiddenDiv accordian-body collapse demo7">
                                                    <form class="incomebox form-inline" role="form">
                                                        <div class="incomediv form-group">
                                                            <div class="input-group input-group-sm">                                                                
                                                                <input type="text" class="incomeinput form-control" value="0.00">
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </td>
                                            <td class="hiddenRow incomeinputside">
                                                <div class="hiddenDiv accordian-body collapse demo7">
                                                    <a href="#">Full Table</a>                                            
                                                </div>
                                            </td>
                                        </tr>  
                                    </tbody>
                                    <tr>
                                        <td>
                                            Exclusion Amount
                                        </td>
                                        <td>
                                            $ 92,736.78
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Insurable Value
                                        </td>
                                        <td>
                                            $ 2,010,898.80
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>




                </div>
            </div>
        </div>

    </div>

    <!-- JavaScript -->
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>

</html>
