<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PropCalc</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="../static/js/bootstrap.js" ></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="../static/js/jquery-1.10.2.js" ></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.10.2.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">PropCalc</a>
                </li>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#"><i class="glyphicon glyphicon-link"></i> Link Databases</a>
                </li>
                <li><a href={{ url_for('start') }}>My Properties</a>
                </li>
                <li><a href={{ url_for('sales_approach_2', subject=subject) }}><i class="glyphicon glyphicon-th"></i> Sales Approach</a>
                </li>
                <li><a href="#"><i class="glyphicon glyphicon-th-large"></i> Cost Approach</a>
                </li>
                <li class="active"><a href={{ url_for('income_approach', subject=subject) }}><i class="glyphicon glyphicon-th-list"></i> Income Approach</a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Income Approach
                </h1>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <div class="bs-example">

                        <div class="col-md-6">
                            <div class="col-md-2">
                                
                            </div>

                            <div class='col-md-8'>
                                <h2 class="incometitle">Market</h2>
                                <table class="table income incometable table-condensed" style="border-collapse:collapse;">
                                    <tr>
                                        <td>
                                            Building Area
                                        </td>
                                        <td>
                                            120,644.00
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target=".demo1" class="accordion-toggle">
                                        <td class="incomeinputside">
                                            Comp Rent
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">$/SF</span>
                                                        <input type="text" class="incomeinput form-control" value="2.85">
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                            <a href="#">Source List</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="hiddenRow accordian-body collapse demo1">
                                            <div class="hiddenDiv">
                                                
                                            </div>
                                        </th>
                                        <th class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo1">
                                                Rent/Sqft
                                            </div>
                                        </th>
                                        <th class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo1">
                                                Database
                                            </div>
                                        </th>
                                    </tr>
                                    <tr class="warning">
                                        <td class="hiddenRow accordian-body collapse demo1">
                                            <div class="hiddenDiv">
                                                High
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo1">
                                                $ 40.00
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo1 source">
                                                <a href="#">LoopNet</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo1">
                                            <div class="hiddenDiv">
                                                Average
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo1">
                                                $ 40.00
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo1 source">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="warning">
                                        <td class="hiddenRow accordian-body collapse demo1">
                                            <div class="hiddenDiv">
                                                Low
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo1">
                                                $ 40.00
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo1 source">
                                                <a href="#">CMS</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            $ 343,835.40
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Other Income
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">$</span>
                                                        <input type="text" class="incomeinput form-control" value="0.00">
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target=".demo2" class="accordion-toggle">
                                        <td class="incomeinputside">
                                            Vacancy Rate
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        
                                                        <input type="text" class="incomeinput form-control" value="8.03">
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                            <a href="http://www.colliers.com/-/media/Files/MarketResearch/UnitedStates/MARKETS/Texas/DFW/2014/Q1_2014_DFW_Industrial_Market_Report">
                                            Colliers - 2014 - Q1
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="income hiddenRow accordian-body collapse demo2">
                                            <div class="hiddenDiv">
                                                Market
                                            </div>
                                        </th>
                                        <th class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo2">
                                                Vacancy Rate
                                            </div>
                                        </th>
                                        <th class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo2">
                                                Distance
                                            </div>
                                        </th>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo2">
                                            <div class="hiddenDiv">
                                                Alliance
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo2">
                                                3.50 %
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo2 source">
                                                0.12 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo2">
                                            <div class="hiddenDiv">
                                                DFW Airport
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo2">
                                                6.60 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo2 source">
                                                1.10 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo2">
                                            <div class="hiddenDiv">
                                                East Dallas
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo2">
                                                6.80 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo2 source">
                                                2.04 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Less Vacancy
                                        </td>
                                        <td>
                                            $ (27,610.00)
                                        </td>
                                        <td class="source">
                                            <a href="#"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            $ 316,225.00
                                        </td>
                                        <td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Expense Amount
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">                                                        
                                                        <input type="text" class="incomeinput form-control" value="5.00">
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Less Expenses
                                        </td>
                                        <td>
                                            $ (15,811.25)
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Other Expenses
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">$</span>                                                        
                                                        <input type="text" class="incomeinput form-control" value="0.00">                                                        
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            $ 300,413.75
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target=".demo3" class="accordion-toggle">
                                        <td class="incomeinputside">
                                            Adj Cap Rate
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        
                                                        <input type="text" class="incomeinput form-control" value="7.20">
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                            <a href="#">Grubb & Ellis  - 2012 - Q1</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="income hiddenRow accordian-body collapse demo3">
                                            <div class="hiddenDiv">
                                                Market
                                            </div>
                                        </th>
                                        <th class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo3">
                                                Vacancy Rate
                                            </div>
                                        </th>
                                        <th class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo3">
                                                Distance
                                            </div>
                                        </th>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo3">
                                            <div class="hiddenDiv">
                                                Alliance
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo3">
                                                3.50 %
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo3 source">
                                                0.12 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo3">
                                            <div class="hiddenDiv">
                                                DFW Airport
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo3">
                                                6.60 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo3 source">
                                                1.10 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo3">
                                            <div class="hiddenDiv">
                                                East Dallas
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo3">
                                                6.80 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo3 source">
                                                2.04 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Value
                                        </td>
                                        <td>
                                            $ 4172,418.70
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Value Per Sqft
                                        </td>
                                        <td>
                                            $ 34.58
                                        </td>
                                        <td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class='col-md-8'>
                                <h2 class="incometitle">Contract</h2>
                                <table class="table income incometable table-condensed" style="border-collapse:collapse;">
                                    <tr>
                                        <td>
                                            Building Area
                                        </td>
                                        <td>
                                            120,644.00
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target=".demo4" class="accordion-toggle">
                                        <td class="incomeinputside">
                                            Contract Rent
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">$/SF</span>
                                                        <input type="text" class="incomeinput form-control" value="2.85">
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                            
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <th class="hiddenRow accordian-body collapse demo4">
                                            <div class="hiddenDiv">
                                                
                                            </div>
                                        </th>
                                        <th class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4">
                                                Rent/Sqft
                                            </div>
                                        </th>
                                        <th class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4">
                                                Database
                                            </div>
                                        </th>
                                    </tr>
                                    <tr class="warning">
                                        <td class="hiddenRow accordian-body collapse demo4">
                                            <div class="hiddenDiv">
                                                High
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4">
                                                $ 40.00
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4 source">
                                                <a href="#">LoopNet</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo4">
                                            <div class="hiddenDiv">
                                                Average
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4">
                                                $ 40.00
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4 source">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="warning">
                                        <td class="hiddenRow accordian-body collapse demo4">
                                            <div class="hiddenDiv">
                                                Low
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4">
                                                $ 40.00
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo4 source">
                                                <a href="#">CMS</a>
                                            </div>
                                        </td>
                                    </tr> -->
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            $ 343,835.40
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Other Income
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">$</span>
                                                        <input type="text" class="incomeinput form-control" value="0.00">
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target=".demo5" class="accordion-toggle">
                                        <td class="incomeinputside">
                                            Vacancy Rate
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        
                                                        <input type="text" class="incomeinput form-control" value="8.03">
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                            <a href="http://www.colliers.com/-/media/Files/MarketResearch/UnitedStates/MARKETS/Texas/DFW/2014/Q1_2014_DFW_Industrial_Market_Report">
                                            Colliers - 2014 - Q1
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="income hiddenRow accordian-body collapse demo5">
                                            <div class="hiddenDiv">
                                                Market
                                            </div>
                                        </th>
                                        <th class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                Vacancy Rate
                                            </div>
                                        </th>
                                        <th class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                Distance
                                            </div>
                                        </th>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo5">
                                            <div class="hiddenDiv">
                                                Alliance
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                3.50 %
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5 source">
                                                0.12 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo5">
                                            <div class="hiddenDiv">
                                                DFW Airport
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                6.60 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5 source">
                                                1.10 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo5">
                                            <div class="hiddenDiv">
                                                East Dallas
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5">
                                                6.80 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo5 source">
                                                2.04 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Less Vacancy
                                        </td>
                                        <td>
                                            $ (27,610.00)
                                        </td>
                                        <td class="source">
                                            <a href="#"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            $ 316,225.00
                                        </td>
                                        <td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Expense Amount
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">                                                        
                                                        <input type="text" class="incomeinput form-control" value="5.00">
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Less Expenses
                                        </td>
                                        <td>
                                            $ (15,811.25)
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="incomeinputside">
                                            Other Expenses
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        <span class="input-group-addon">$</span>                                                        
                                                        <input type="text" class="incomeinput form-control" value="0.00">                                                        
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            $ 300,413.75
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target=".demo6" class="accordion-toggle">
                                        <td class="incomeinputside">
                                            Adj Cap Rate
                                        </td>
                                        <td>
                                            <form class="incomebox form-inline" role="form">
                                                <div class="incomediv form-group">
                                                    <div class="input-group input-group-sm">
                                                        
                                                        <input type="text" class="incomeinput form-control" value="7.20">
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="incomeinputside source">
                                            <a href="#">Grubb & Ellis  - 2012 - Q1</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="income hiddenRow accordian-body collapse demo6">
                                            <div class="hiddenDiv">
                                                Market
                                            </div>
                                        </th>
                                        <th class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6">
                                                Vacancy Rate
                                            </div>
                                        </th>
                                        <th class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6">
                                                Distance
                                            </div>
                                        </th>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo6">
                                            <div class="hiddenDiv">
                                                Alliance
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6">
                                                3.50 %
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6 source">
                                                0.12 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo6">
                                            <div class="hiddenDiv">
                                                DFW Airport
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6">
                                                6.60 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6 source">
                                                1.10 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="hiddenRow accordian-body collapse demo6">
                                            <div class="hiddenDiv">
                                                East Dallas
                                            </div>
                                        </td>
                                        <td class="income hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6">
                                                6.80 %
                                            </div>
                                        </td>
                                        <td class="source hiddenRow">
                                            <div class="hiddenDiv accordian-body collapse demo6 source">
                                                2.04 miles
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Value
                                        </td>
                                        <td>
                                            $ 4172,418.70
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Value Per Sqft
                                        </td>
                                        <td>
                                            $ 34.58
                                        </td>
                                        <td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>




                </div>
            </div>
        </div>

    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>

</html>
