{% extends 'base.html' %}

{% block content %}
<div id="page-content-wrapper">
    <div class="content-header">
        <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            Income Approach
        </h1>
    </div>
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
        <div class="row">
            <div class="bs-example">

                <div class="col-md-6">
                    <div class="col-md-2">
                        
                    </div>

                    <div class='col-md-8'>
                        <h2 class="incometitle">Market</h2>
                        <table class="table income incometable table-condensed" style="border-collapse:collapse;">
                            <tr>
                                <td>
                                    Building Area
                                </td>
                                <td>                                        
                                    <span id="bldg_sqft">120644.00</span>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tbody class="well">
                                <tr>
                                    <td data-toggle="collapse" data-target=".demo1" class="accordion-toggle incomeinputside">
                                        Comp Rent
                                    </td>
                                    <td>
                                        <form class="incomebox form-inline" role="form">
                                            <div class="incomediv form-group">
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-addon">$/SF</span>
                                                    <input onkeyup="MultInputs('comp_rent','bldg_sqft','subt1')" type="text" class="comp_rent incomeinput form-control" value=2.85 />
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td data-toggle="collapse" data-target=".demo1" class="accordion-toggle incomeinputside source">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            
                                        </div>
                                    </th>
                                    <th class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            Rent/Sqft
                                        </div>
                                    </th>
                                    <th class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            Database
                                        </div>
                                    </th>
                                </tr>
                                <tr class="">
                                    <td class="hiddenRow accordian-body collapse demo1">
                                        <div class="hiddenDiv">
                                            High
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            $ 6.57
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1 source">
                                            <a href="#">CMS</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            Average
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            $ 4.71
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1 source">
                                            <a href="#">Source List</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            Low
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            $ 2.85
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1 source">
                                            <a href="#">LoopNet</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="incomewell well">
                                <tr class="">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            Collier's Report
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            $ 5.30
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1 source">
                                            <a href="#">Colliers - 2014 - Q1</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            Grub & Ellis
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1">
                                            $ 4.70
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo1 source">
                                            <a href="#">Grub & Ellis - 2014 - Q1</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <span id='subt1'>$ 343,835.40</span>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td class="incomeinputside">
                                    Other Income
                                </td>
                                <td>
                                    <form class="incomebox form-inline" role="form">
                                        <div class="incomediv form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" class="incomeinput form-control" value="0.00">
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tbody class="well">
                                <tr data-toggle="collapse" data-target=".demo2" class="accordion-toggle">
                                    <td class="incomeinputside">
                                        Vacancy Rate
                                    </td>
                                    <td>
                                        <form class="incomebox form-inline" role="form">
                                            <div class="incomediv form-group">
                                                <div class="input-group input-group-sm">
                                                    
                                                    <input type="text" class="incomeinput form-control" value="8.03">
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="incomeinputside source">
                                        <a href="http://www.colliers.com/-/media/Files/MarketResearch/UnitedStates/MARKETS/Texas/DFW/2014/Q1_2014_DFW_Industrial_Market_Report" target="_blank">
                                        Colliers - 2014 - Q1
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2">
                                            Market
                                        </div>
                                    </th>
                                    <th class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2">
                                            Vacancy Rate
                                        </div>
                                    </th>
                                    <th class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2">
                                            Distance
                                        </div>
                                    </th>
                                </tr>
                                <tr class="success">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2">
                                            Alliance
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2">
                                            3.50 %
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2 source">
                                            0.12 miles
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2">
                                            DFW Airport
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2">
                                            6.60 %
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2 source">
                                            1.10 miles
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2">
                                            East Dallas
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2">
                                            6.80 %
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo2 source">
                                            2.04 miles
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <td>
                                    Less Vacancy
                                </td>
                                <td>
                                    $ (27,610.00)
                                </td>
                                <td class="source">
                                    <a href="#"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    $ 316,225.00
                                </td>
                                <td>
                            </tr>
                            <tr>
                                <td class="incomeinputside">
                                    Expense Amount
                                </td>
                                <td>
                                    <form class="incomebox form-inline" role="form">
                                        <div class="incomediv form-group">
                                            <div class="input-group input-group-sm">                                                        
                                                <input type="text" class="incomeinput form-control" value="5.00">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Less Expenses
                                </td>
                                <td>
                                    $ (15,811.25)
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="incomeinputside">
                                    Other Expenses
                                </td>
                                <td>
                                    <form class="incomebox form-inline" role="form">
                                        <div class="incomediv form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">$</span>                                                        
                                                <input type="text" class="incomeinput form-control" value="0.00">                                                        
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    $ 300,413.75
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tbody class="well">
                                <tr data-toggle="collapse" data-target=".demo3" class="accordion-toggle">
                                    <td class="incomeinputside">
                                        Adj Cap Rate
                                    </td>
                                    <td>
                                        <form class="incomebox form-inline" role="form">
                                            <div class="incomediv form-group">
                                                <div class="input-group input-group-sm">
                                                    
                                                    <input type="text" class="incomeinput form-control" value="7.20">
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="incomeinputside source">
                                        <a href="#">Grubb & Ellis  - 2014 - Q1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo3">
                                            Market
                                        </div>
                                    </th>
                                    <th class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo3">
                                            Vacancy Rate
                                        </div>
                                    </th>
                                    <th class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo3">
                                            Distance
                                        </div>
                                    </th>
                                </tr>
                                <tr class="success">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo3">
                                            Dallas/Ft. Worth
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo3">
                                            7.20 %
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo3 source">
                                            5.61 miles
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo3">
                                            Houston
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo3">
                                            8.38 %
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo3 source">
                                            217.36 miles
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <td>
                                    Value
                                </td>
                                <td>
                                    $ 4172,418.70
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Value Per Sqft
                                </td>
                                <td>
                                    $ 34.58
                                </td>
                                <td>
                            </tr>
                        </table>
                    </div>
                </div>
            
                <div class="col-md-6">
                    <div class='col-md-8'>
                        <h2 class="incometitle">Contract</h2>
                        <table class="table income incometable table-condensed" style="border-collapse:collapse;">
                            <tr>
                                <td>
                                    Building Area
                                </td>
                                <td>
                                    120,644.00
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr data-toggle="collapse" data-target=".demo4" class="accordion-toggle">
                                <td class="incomeinputside">
                                    Contract Rent
                                </td>
                                <td>
                                    <form class="incomebox form-inline" role="form">
                                        <div class="incomediv form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">$/SF</span>
                                                <input type="text" class="incomeinput form-control" value="2.85">
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td class="incomeinputside source">
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    $ 343,835.40
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td class="incomeinputside">
                                    Other Income
                                </td>
                                <td>
                                    <form class="incomebox form-inline" role="form">
                                        <div class="incomediv form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" class="incomeinput form-control" value="0.00">
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tbody class="well">
                                <tr data-toggle="collapse" data-target=".demo5" class="accordion-toggle">
                                    <td class="incomeinputside">
                                        Vacancy Rate
                                    </td>
                                    <td>
                                        <form class="incomebox form-inline" role="form">
                                            <div class="incomediv form-group">
                                                <div class="input-group input-group-sm">
                                                    
                                                    <input type="text" class="incomeinput form-control" value="8.03">
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="incomeinputside source">
                                        <a href="http://www.colliers.com/-/media/Files/MarketResearch/UnitedStates/MARKETS/Texas/DFW/2014/Q1_2014_DFW_Industrial_Market_Report">
                                        Colliers - 2014 - Q1
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5">
                                            Market
                                        </div>
                                    </th>
                                    <th class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5">
                                            Vacancy Rate
                                        </div>
                                    </th>
                                    <th class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5">
                                            Distance
                                        </div>
                                    </th>
                                </tr>
                                <tr class="success">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5">
                                            Alliance
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5">
                                            3.50 %
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5 source">
                                            0.12 miles
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5">
                                            DFW Airport
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5">
                                            6.60 %
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5 source">
                                            1.10 miles
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5">
                                            East Dallas
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5">
                                            6.80 %
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo5 source">
                                            2.04 miles
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <td>
                                    Less Vacancy
                                </td>
                                <td>
                                    $ (27,610.00)
                                </td>
                                <td class="source">
                                    <a href="#"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    $ 316,225.00
                                </td>
                                <td>
                            </tr>
                            <tr>
                                <td class="incomeinputside">
                                    Expense Amount
                                </td>
                                <td>
                                    <form class="incomebox form-inline" role="form">
                                        <div class="incomediv form-group">
                                            <div class="input-group input-group-sm">                                                        
                                                <input type="text" class="incomeinput form-control" value="5.00">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Less Expenses
                                </td>
                                <td>
                                    $ (15,811.25)
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="incomeinputside">
                                    Other Expenses
                                </td>
                                <td>
                                    <form class="incomebox form-inline" role="form">
                                        <div class="incomediv form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">$</span>                                                        
                                                <input type="text" class="incomeinput form-control" value="0.00">                                                        
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    $ 300,413.75
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tbody class="well">
                                <tr data-toggle="collapse" data-target=".demo6" class="accordion-toggle">
                                    <td class="incomeinputside">
                                        Adj Cap Rate
                                    </td>
                                    <td>
                                        <form class="incomebox form-inline" role="form">
                                            <div class="incomediv form-group">
                                                <div class="input-group input-group-sm">
                                                    
                                                    <input type="text" class="incomeinput form-control" value="7.20">
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="incomeinputside source">
                                        <a href="#">Grubb & Ellis  - 2014 - Q1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="income hiddenRow">
                                        <div class="hiddenDiv hiddenRow accordian-body collapse demo6">
                                            Market
                                        </div>
                                    </th>
                                    <th class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6">
                                            Vacancy Rate
                                        </div>
                                    </th>
                                    <th class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6">
                                            Distance
                                        </div>
                                    </th>
                                </tr>
                                <tr class="success">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6">
                                            Alliance
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6">
                                            3.50 %
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6 source">
                                            0.12 miles
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6">
                                            DFW Airport
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6">
                                            6.60 %
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6 source">
                                            1.10 miles
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6">
                                            East Dallas
                                        </div>
                                    </td>
                                    <td class="income hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6">
                                            6.80 %
                                        </div>
                                    </td>
                                    <td class="source hiddenRow">
                                        <div class="hiddenDiv accordian-body collapse demo6 source">
                                            2.04 miles
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <td>
                                    Value
                                </td>
                                <td>
                                    $ 4172,418.70
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Value Per Sqft
                                </td>
                                <td>
                                    $ 34.58
                                </td>
                                <td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>




        </div>
    </div>
</div>
{% endblock %}