<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PropCalc</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}"> -->
    <!-- <link ... href="{{ url_for('static', filename='stylesheets/style.css') }}" /> -->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">PropCalc</a>
                </li>
                <li><a href="#">Home</a>
                </li>
                <li class="active"><a href="#">My Properties</a>
                </li>
                <li><a href="#">Sales Approach</a>
                </li>
                <li><a href="#">Sales Cost</a>
                </li>
                <li><a href="#">Sales Income - Market</a>
                </li>
                <li><a href="#">Sales Income - Contract</a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Enter a new property
                </h1>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <div class='col-md-4'>

                        <form role="form" name="input" action="/main/" method="POST">

                            <div class="form-group">
                                <input class="form-control" name="owner" placeholder="Client">
                            </div>

                            <div class="form-group">
                                <input class="form-control" name="street" placeholder="Street Address">
                            </div>

                            <div class="form-group">
                                <input class="form-control" name="city" placeholder="City">
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="state">
                                    <option class="default" value="" selected disabled >State</option>
                                    <option>TX</option>
                                    <option>AL</option>
                                    <option>MA</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input class="form-control" name="zipcode" placeholder="Zip">
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="impr_sqft" placeholder="Building Area">
                                    <span class="input-group-addon">SQFT</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="land_sqft" placeholder="Land Area">
                                    <span class="input-group-addon">SQFT</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" name="price" placeholder="Sale Price">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="age" placeholder="Age">
                                    <span class="input-group-addon">Years</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="use">
                                    <option class="default" value="" selected disabled >Use</option>
                                    <option value="Light Manufacturing">Light Manufacturing</option>
                                    <option value="Distribution Warehouse">Distribution Warehouse</option>
                                    <option value="Storage Warehouse">Storage Warehouse</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="level">
                                    <option class="default" value="" selected disabled >Grade</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="S">S</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="condition">
                                    <option class="default" value="" selected disabled >Condition</option>
                                    <option value="Excellent">Excellent</option>
                                    <option value="Good">Good</option>
                                    <option value="Average">Average</option>
                                    <option value="Low Cost">Low Cost</option>
                                </select>
                            </div>

                        <button type="submit" class="btn btn-default">Continue</button>
                    
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>

</html>
