{% extends 'base.html' %}

{% block content %}
<div id="page-content-wrapper">
    <div class="content-header">
        <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            Properties
        </h1>
    </div>
    <div class="page-content inset">
        <div class="row">
            <div class='col-md-3'>
                {%- for subject in subjects recursive %}
                <a class='properties' href= {{ url_for('edit_property', subject=subject) }} >
                    <div class="well well-lg">
                        <b>Owner:</b> {{subject[0]}}
                        </br>
                        <b>PIN:</b> {{subject[1]}}
                        </br>
                        <b>Address:</b> {{subject[2]}}
                    </div>
                </a>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>
{% endblock %}