<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PropCalc</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/propcalc.css') }}">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/propcalc.css" rel="stylesheet">

    <script type="text/javascript" src="../static/js/bootstrap.js" ></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="../static/js/jquery-1.10.2.js" ></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.10.2.js"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">PropCalc</a>
                </li>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#"><i class="glyphicon glyphicon-link"></i> Link Databases</a>
                </li>
                <li class="active"><a href={{ url_for('main') }}>My Properties</a>
                </li>
                <li><a href={{ url_for('sales_approach_2', subject=subject) }}><i class="glyphicon glyphicon-th"></i> Sales Approach</a>
                </li>
                <li><a href={{ url_for('cost_approach', subject=subject) }}><i class="glyphicon glyphicon-th-large"></i> Cost Approach</a>
                </li>
                <li><a href={{ url_for('income_approach', subject=subject) }}><i class="glyphicon glyphicon-th-list"></i> Income Approach</a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Properties
                </h1>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <div class='col-md-3'>
                        {%- for subject in subjects recursive %}
                        <a class='properties' href= {{ url_for('edit_property', subject=subject) }} >
                            <div class="well well-lg">
                                <b>Owner:</b> {{subject[0]}}
                                </br>
                                <b>PIN:</b> {{subject[1]}}
                                </br>
                                <b>Address:</b> {{subject[2]}}
                            </div>
                        </a>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>

</html>